// Utils styles
@import "./utils/vars";
@import "./utils/visually-hidden";


// Base styles
@import "./base/reset";

// Components styles
// СТРАНИЦА ИНДЕКС
@import "./components/section";
@import "./components/container";
@import "./components/navigation";
@import "./components/header";
@import "./components/logo-header";
@import "./components/link-header";
@import "./components/hero";
@import "./components/primary-button";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/close-button";
@import "./components/form";
@import "./components/checbox";
@import "./components/form-button";
@import "./components/benefits";
@import "./components/work";
@import "./components/service";
@import "./components/team";
@import "./components/network";
@import "./components/clients";
@import "./components/footer";
@import "./components/footer-logo";
@import "./components/footer-address";
@import "./components/footer-link";
@import "./components/social";
@import "./components/footer-form";
@import "./components/footer-form-button";
@import "./components/mobile-menu-button";

// СТРАНИЦА ПОРТФОЛИО
@import "./components/projects";
@import "./components/projects-list-buttons";
@import "./components/secondary-button";
@import "./components/projects-list_card";
@import "./components/projects-thumb";
@import "./components/projects-overlay";
@import "./components/projects-content";







































