.form-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  user-select: none;
}

.box-icon-checkbox {
  margin-right: 8px;
  width: 16px;
  height: 15px;

  outline: 2px solid black;
  outline-offset: -2px;
  border-radius: 2px;
  transition-property: background-color, outline;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  cursor: pointer;

  .form-input-checkbox:checked + & {
    background-color: var(--accent-color);
    outline: transparent;
  }
}

.form-icon-check {
  fill: #ffffff;
}

.form-name-checkbox {
  font-size: 12px;
  line-height: 1.2;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
  }
}

.form-link {
  font-size: 12px;
  line-height: 1.2;
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
  }
}
