.footer-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.container .footer-link:not(:last-child) {
  margin-bottom: 9px;
}
