.footer-link {

  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px){
    display: block;
  }
}

.container .footer-link {
  padding-bottom: 9px;
}
