.network {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
  display: flex;
  height: 44px;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }
}

.network__link {
  display: flex;
  width: 44px;
  height: 44px;
  list-style: none;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border-radius: 50px;
  transition-property: fill background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: white;
  }
}
