.projects-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  & > .projects-card {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
     
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }

  & > .projects-card:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;

  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
