.projects-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
.projects-title {
  margin-bottom: 4px;
  color: var(--portfolio-title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
